@model IEnumerable<Snippy.App.Models.ViewModels.ConciseSnippetViewModel>
@{
    ViewBag.Title = "My Snippets";
}

<h2>My Snippets</h2>
@if (Model.Any())
{
    @Html.DisplayForModel()
}
else
{
    @:You have no snippets. You can @Html.ActionLink("create", "Add") one now. 
}